################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CharacterGenerator/v15/.suo
/.vs/CharacterGenerator/v15/_suo.doc
/.vs
/CharacterGenerator/bin/Debug
/CharacterGenerator/obj/Debug
/CharacterGenerator/CharacterGenerator.csproj.user
/packages/Newtonsoft.Json.12.0.2
